<header class="header-container d-flex justify-content-center py-3"> 
    
    <div class="burger" id="burgerBtn" aria-label="Ouvrir le menu" role="button" tabindex="0">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <a href="#home" class="logo logo-pc"><img src="images/pas_texte.png" alt="Zen Harmonie Nath" onerror="this.style.opacity='0'"></a>

    <span id="mobileTitle" class="logo logo-mobile">Accueil</span>

    <ul class="nav nav-pills align-items-center" id="navMenu">
        <li class="nav-item">
            <a href="#home" class="nav-link active">Accueil</a>
        </li> 
        
        <li class="nav-item">
            <a href="#about" class="nav-link">À propos</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mes Soins
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#magnetisme">Magnétisme</a></li>
                <li><a class="dropdown-item" href="#hypnose">Hypnose Ericksonienne</a></li>
                <li><a class="dropdown-item" href="#lithotherapie">Lithothérapie</a></li>
                <li><a class="dropdown-item" href="#soins-energetiques">Soins énergétiques</a></li>
                <li><a class="dropdown-item" href="#lahochi">LaHoChi</a></li>
                <li><a class="dropdown-item" href="#access-bar">Access Bar</a></li>
                <li><a class="dropdown-item" href="#guidance">Guidance</a></li>
                <li><a class="dropdown-item" href="#communication-animale">Communication Animale</a></li>
                <li><a class="dropdown-item" href="#sonotherapie">Sonothérapie</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
        </li>
    </ul>
</header>