<section class="about-hero">
    <h1>À propos du<span class="text-highlight"> Magnétisme</span></h1>
    <p class="subtitle"></p>
</section>

<section class="about-profile section-padding">
    <div class="profile-container">
        
        <div class="profile-text">
            <h2>Qu’est-ce que le magnétisme ? </h2>
            <p>
                Le magnétisme est une pratique naturelle et ancestrale qui cherche à rétablir l’harmonie entre le corps, l’esprit et les émotions.
                <br/>Il repose sur l’idée que chaque être vivant possède une énergie vitale qui circule en permanence.
                <br/>Lorsque cette énergie se bloque ou se déséquilibre, cela peut se manifester par des tensions, de la fatigue, un mal-être ou une baisse de vitalité.
                <br/>
                <br/>En tant que magnétiseuse, mon rôle est de canaliser et de transmettre cette énergie afin de relancer votre propre dynamique intérieure.
                <br/>Grâce à un travail doux et ciblé, je vous aide à dissoudre les blocages, apaiser les tensions, favoriser la détente profonde et soutenir les capacités naturelles d’équilibre et de régénération de votre organisme.
                <br/>
                <br/>Le magnétisme offre un accompagnement bienveillant vers un mieux-être global, en vous permettant de vous recentrer, de retrouver une sensation d’alignement et de vous reconnecter à vos ressources personnelles. Il s’agit d’une approche complémentaire, qui ne se substitue pas à un avis médical, mais qui peut contribuer à un véritable mieux-être au quotidien.
                <br/>Le magnétisme permet de réequilibrer énérgetiquement le corps et l'esprit.
            </p>
             <br/>
            <h2>
                Comment se déroule une séance ? 
            </h2>
            <p>
                Chaque séance est un moment d’écoute et de bienveillance, après un entretien essentiel pour comprendre l’origine de votre inconfort.<br/>La séance se déroule généralement en position allongée ou assise, Par l’imposition des mains (avec ou sans contact) et par des passes magnétiques, je travaille sur les zones en tension afin de favoriser une meilleure circulation énergétique.
            </p><!-- refaire la fin-->
            <br/>
            <h2>
                Pourquoi consulter ?
            </h2>
            <h5>
            <p>
                 Le magnétisme accompagne efficacement de nombreux maux du quotidien :
            </p>
            <br/>
            <p>
                <b>
                   •    Douleurs physiques : Maux de dos, problème physiques, migraines, troubles digestifs...
                </b>
            </p>
            <br/>
            <p>
                <strong>
                    •   Problèmes de peau : Eczéma, zona, psoriasis, verrues, brûlures (coupeuse de feu)...
                </strong>
            </p>
            <br/>
            <p>
                <strong>
                    •   Gestion émotionnelle : Stress, anxiété, troubles du sommeil, fatigue, burn-out...
                </strong>
            </p>
            </h5>
            <br/>
            <p>
                Cette séance vous permettra de vous soulager et de récupérer une certaine sérénité, sachez que, selon le cas, vous serez peut-être amené(e) à faire deux ou trois séances.
            </p>
            <br/>
            <p><u>Je vous invite à consulter votre médecin car je ne me substitue absolument pas à un avis médical.</u></p>
            <br/>
            <a href="#contact" class="btn-main">Prendre rendez-vous</a>
        </div>
    </div>
</section>