<section class="about-hero">
    <h1>À propos du<span class="text-highlight"> Magnétisme</span></h1>
    <p class="subtitle"></p>
</section>

<section class="about-profile section-padding">
    <div class="profile-container">
        
        <div class="profile-text">
            <h2>Description : </h2>
            <p>
                Le magnétisme est une pratique naturelle et ancestrale qui vise à rétablir l'harmonie entre le corps et l'esprit. En tant que magnétiseuse, mon rôle est de canaliser et de transmettre l'énergie nécessaire pour dissoudre les blocages, apaiser les tensions et stimuler les capacités d'auto-réparation de votre organisme.
            </p>
            <p>
                Comment se déroule une séance ? Chaque séance est un moment d'écoute et de bienveillance. généralement allongé(e) ou assis(e). Par imposition des mains (avec ou sans contact direct) et par des passes magnétiques, je travaille sur les zones en souffrance pour fluidifier la circulation énergétique.
            </p>
            <p>
                Pourquoi consulter ? Le magnétisme accompagne efficacement de nombreux maux du quotidien :
            </p>
            <h5>
            <p>
                <b>
                   •    Douleurs physiques : Maux de dos, douleurs articulaires, migraines, troubles digestifs.
                </b>
            </p>
            <p>
                <strong>
                    •   Problèmes de peau : Eczéma, zona, psoriasis, verrues, brûlures (coupeur de feu).
                </strong>
            </p>
            <p>
                <strong>
                    •   Gestion émotionnelle : Stress, anxiété, troubles du sommeil, fatigue chronique, burn-out.
                </strong>
            </p>
            </h5>
            <p>
                C'est scéance vous permettront de vous soulager et de récupérer une certaine sérénité.
            </p>
            <br/>
            <p><u>Je ne suis pas médecin : veuillez consulter un professionnel de santé pour un avis adapté.</u></p>
            <br/>
            <a href="#contact" class="btn-main">Prendre rendez-vous</a>
        </div>
    </div>
</section>